cli-tool/.env
frontend/package-lock.json
media_files/encoded/
media_files/original/
media_files/hls/
media_files/chunks/
media_files/uploads/
postgres_data/
celerybeat-schedule
logs/
pids/
media_files/playlists/
static/admin/
static/ckeditor/
static/debug_toolbar/
static/mptt/
static/rest_framework/
static/drf-yasg
cms/local_settings.py
deploy/docker/local_settings.py
__pycache__
.vscode
.venv
files/con-prep-cdn.py
yt.readme.md
